html, body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.chart-container {
  height: 230px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
